.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Adjust the alpha value to control the opacity */
}
/* Room.css */

.part56{
display: flex;
justify-content: space-between;
margin: 3vh;
margin-top: 20vh;
}

.part1 {
flex: 1;
margin-right: 3vh; /* Adjust this value based on your design */
}

.part2 {
flex: 1;
margin-left: 3vh; /* Adjust this value based on your design */
}

.part1 img {
width: 850px;
height: 650px;
border: 2px solid black;
border-radius: 2px;
}

.part1 h2 {
width: 700px;
height:700px;
color: rgb(255, 255, 255);
border-radius: 2px;
padding: 10px; /* Add padding as needed */
}

/* Add any other styles you need for your components */